- page_title _("Labels")

%div
  = link_to new_admin_label_path, class: "float-right btn gl-button btn-confirm" do
    = _('New label')
  %h1.page-title
    = _('Labels')
%hr
- if @labels.present?
  .labels.labels-container.admin-labels.js-admin-labels-container.gl-bg-gray-10.gl-border-solid.gl-border-1.gl-border-gray-100
    %ul.manage-labels-list
      = render @labels

    = paginate @labels, theme: 'gitlab'

.js-admin-labels-empty-state{ class: ('gl-display-none' if @labels.present?) }
  %section.row.empty-state.gl-text-center
    .col-12
      .svg-content
        = image_tag 'illustrations/labels.svg'
    .col-12
      .gl-mx-auto.gl-my-0.gl-p-5
        %h1.gl-font-size-h-display.gl-line-height-36.h4
          = s_('AdminLabels|Define your default set of project labels')
        %p.gl-mb-0
          = s_('AdminLabels|Labels created here will be automatically added to new projects.')
        %p
          = s_('AdminLabels|They can be used to categorize issues and merge requests.')
        .gl-display-flex.gl-flex-wrap.gl-justify-content-center
          = link_to new_admin_label_path, class: "btn gl-mb-3 btn-confirm btn-md gl-button gl-mx-2" do
            %span.gl-button-text
              = _('New label')
