- add_to_breadcrumbs _("Issues"), project_issues_path(@project)
- breadcrumb_title _("New")
- page_title _("New Issue")

.top-area.gl-lg-flex-direction-row.gl-border-bottom-0
  %h1.page-title= _("New Issue")

= render "form"
